* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(194, 0, 0);
}

#divButtons {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#divButtons * {
    width: 150px;
    height: 150px
}