* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(157, 63, 63);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
}

#divButtons * {
    width: 150px;
    height: 150px
}

#divButtons {
    gap: 15px;
    width: 495px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#choosed {
    display: none;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

#choosed img {
    width: 100px;
    height: 100px;
    background-color: aliceblue;
}

#choosed p {
    font-size: 24px;
    text-align: center;
    color: white;
    font-weight: 400;
}

#isEnough {
    display: none;
}

#countdown_or_warning {
    color: white;
    font-size: 36px;
    width: 100%;
    text-align: center;
}