{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red Team</title>
    <script src="{% static 'core/core_red.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'core/core_red.css' %}">
</head>

<body>
    <div id="divButtons">
        <button id="rock"><img id="rockImg" src="/media/core/rock.webp"></button>
        <button id="paper"><img id="paperImg" src="/media/core/paper.webp"></button>
        <button id="scissors"><img id="scissorsImg" src="/media/core/scissors.webp"></button>
    </div>
</body>

</html>